<nav class="navbar bg-body-tertiary">
  <% if user_signed_in? %>
    <div class="container-fluid justify-content-end">
      <%= link_to 'Create Post', new_post_path, class: 'btn btn-outline-success me-2' %>
      <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-outline-secondary' %>
    </div>
  <% end %>
</nav>